<div class="container mt-4">

    <div class="d-flex flex-row justify-content-center mb-4">

        <app-menu class="mx-5" (filterChanged)="onFilterChanged($event)"></app-menu>
        <app-formtask class="mx-5" (taskAdded)="onTaskAdded($event)"></app-formtask>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 *ngIf="currentFilter === 'All'">Toutes les tâches</h1>
        <h1 *ngIf="currentFilter === 'Open'">Tâches à faire</h1>
        <h1 *ngIf="currentFilter === 'Done'">Tâches terminées</h1>
        <app-task-item 
            *ngFor="let task of getFilteredTasks()" 
            [task]="task"
            (taskToggled)="onTaskToggled($event)">
        </app-task-item>
    </div>
</div>
